.sideBar {
  width: 300px;
  height: 100vh;
  padding: 32px;
  display: grid;
  align-content: start;
  gap: 8px;
  background: #ffffff;
  border-right: 1px solid #e6ecf0;
}
.navList {
  display: grid;
  gap: 8px;
}