.sideBar {
  position: fixed;
  top: 0px;
  left: 0px;
}
.header {
  position: fixed;
  top: 0px;
  left: 320px;
}
.tweetList {
  position: absolute;
  top: 60px;
  left: 320px;
}
.topicList {
  position: fixed;
  top: 0px;
  right: 0px;
}