.search {
  padding: 12px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 12px;
  background: #e6ecf0;
  border-radius: 24px;
}
.search svg {
  width: 24px;
  height: 24px;
  fill: #657786;
}
.search input {
  background: transparent;
  border: none;
  font: 16px 'Quicksand', sans-serif;
  color: #657786;
}
.search input::placeholder {
  font: 16px 'Quicksand', sans-serif;
  color: #657786;
}